<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>12 𝓕𝓸𝔁</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="icon" href="static\assets\12fox.ico">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" media="all">
    </head>
    <body>
      <div class="scroll-up-btn" id="scrollbtn">
        <i class="ri-arrow-up-double-line"></i>
      </div>


      <nav class="nav">
        <i class="uil uil-bars navOpenBtn"></i>
        <a href="#" class="logo">12 𝓕𝓸𝔁</a>
        <ul class="nav-links">
          <i class="uil uil-times navCloseBtn"></i>
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="#men">Men's</a></li>
          <li><a href="#women">Women's</a></li>
          <li><a href="#kids">Kid's</a></li>
          <li><a href="{{url_for('contact')}}">Contact us</a></li>
        </ul>
        <i class="uil uil-search search-icon" id="searchIcon"></i>
        <div class="search-box">
          <i class="uil uil-search search-icon"></i>
          <input type="text" placeholder="Search here..." />
        </div>
        <div class="logout">
          
          <a href="{{url_for('login')}}"><i title="Logout" class="ri-logout-box-line"> </i></a>
        </div>
      </nav>
    
      
      <section class="parallex">
      <div class="external">
        <div class="horizontal-scroll-wrapper">
          <div class="img-wrapper slower">
            <a href="https://i.postimg.cc/4x0bwM2C/istockphoto-1293292206-612x612.jpg" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/4x0bwM2C/istockphoto-1293292206-612x612.jpg" alt="">
            </a>
          </div>
      
          <div class="img-wrapper faster">
            <a href="https://i.postimg.cc/131y65Pb/Home.png" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/131y65Pb/Home.png" alt="">
            </a>
          </div>
      
          <div class="img-wrapper slower vertical">
            <a href="https://i.postimg.cc/BbQfNXtn/bee-and-White-Minimalist-Simple-Man-Fashion-Instagram-Reel.png" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/BbQfNXtn/bee-and-White-Minimalist-Simple-Man-Fashion-Instagram-Reel.png" alt="">
            </a>
          </div>
      
          <div class="img-wrapper slower slower-down">
            <a href="https://i.postimg.cc/s2y65bMV/istockphoto-1387390548-612x612.jpg" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/s2y65bMV/istockphoto-1387390548-612x612.jpg" alt="">
            </a>
          </div>
      
          <div class="img-wrapper">
            <a href="https://i.postimg.cc/xjWWcx3d/Home-2.png" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/xjWWcx3d/Home-2.png" alt="">
            </a>
          </div>
      
          <div class="img-wrapper slower">
            <a href="https://i.postimg.cc/JzK6cPZZ/Home-4.png" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/JzK6cPZZ/Home-4.png" alt="">
            </a>
          </div>
      
          <div class="img-wrapper faster1">
            <a href="https://i.postimg.cc/tJHNHxF9/Home-1.png" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/tJHNHxF9/Home-1.png" alt="">
            </a>
          </div>
         
          <div class="img-wrapper slower slower2">
            <a href="https://i.postimg.cc/jS9NbfrB/214850926-presentation-of-mens-clothing-in-a-luxury-boutique-in-a-shopping-center-original-product.jpg" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/jS9NbfrB/214850926-presentation-of-mens-clothing-in-a-luxury-boutique-in-a-shopping-center-original-product.jpg" alt="">
                </a>
           </div>
          
          <div class="img-wrapper">
                <a href="https://i.postimg.cc/Y2st8zfc/Home-5.png" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/Y2st8zfc/Home-5.png" alt="">
            </a>
          </div>
          
          <div class="img-wrapper slower">
             <a href="https://i.postimg.cc/VLZ4Jd8W/Home-3.png" target="_blank" rel="noopener">
              <img src="https://i.postimg.cc/VLZ4Jd8W/Home-3.png" alt="">
            </a>
          </div>
          
          <div class="img-wrapper slower last">
             <a href="https://i.postimg.cc/sX2vGDy5/istockphoto-111957093-612x612.jpg" target="_blank" rel="noopener">
               <img src="https://i.postimg.cc/sX2vGDy5/istockphoto-111957093-612x612.jpg" alt="">
            </a>
          </div>
        </div>
      </div>          
      </section>   
      <!--    Product   -->

      <!--    Product men   -->
      <section class="Products" id="men">
        <div class="main">
          <section class="product">
            <h2 class="product-category">Men's Latest</h2>
            <span class="subtit">Discover the epitome of style and sophistication with 12 𝓕𝓸𝔁, your premier destination for the latest trends in men's fashion.</span>
        
          <ul class="cards">
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/LX0y3FHZ/men2-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">12Fox Classic Hoodie</h3>
              <div class="glassBox__content">Unleash your style with this signature hoodie.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹699</span>
                      
              </div>
              <div class="glassBox__Button">
          
                <a href="https://vishvavishva587.myinstamojo.com/product/4804937/mens-midweight-hooded-sweatshirt/" data-store-name="vishvavishva587" data-domain="https://vishvavishva587.myinstamojo.com" data-id="4804937" rel="im-new-checkout" data-text="BUY" data-css-style="width:180px; border-radius:4px"   data-layout="vertical"  ></a>

               </div>
            </div>
                
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/FFfm5D9y/men1-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Urban Fox Street Tee</h3>
              <div class="glassBox__content"> Rule the streets with the Urban Fox Tee  that effortlessly combines comfort and urban edge.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹399</span>
              </div>
              <div class="glassBox__Button">
                <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="BUY" data-css-style="width:180px; border-radius:4px"   data-layout="vertical"  ></a>

               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/jSbr7P3Y/men4-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxCrafted Comfort Hoodie</h3>
              <div class="glassBox__content">Where coziness meets expert craftsmanship.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹759</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/nLBZQzkW/men3-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">WildFox Adventure Shirt</h3>
              <div class="glassBox__content">Perfect for those who seek style in every journey.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹450</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/156DzxV3/men5-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Arctic Fox Cozy Sweatshirt</h3>
              <div class="glassBox__content">Delivering coziness without compromising on fashion.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹599</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/KjgKHLh5/men6-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">RetroFox Vintage Tee</h3>
              <div class="glassBox__content">Combining retro charm with contemporary comfort.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹499</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
           
          </li>
          </ul>
        </div>
      </section>

      <!--    Product women  -->

      <section class="Products" id="women">
        <div class="main">
          <section class="product">
            <h2 class="product-category">Women's Latest</h2>
            <span class="subtit">Discover a captivating array of women's clothing that effortlessly combines chic aesthetics with versatile functionality. </span>
        
          <ul class="cards">
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/59YT3mRF/women4-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxBreeze Lightweight Jersey</h3>
              <div class="glassBox__content">A perfect choice for laid-back days and casual outings.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹450</span>
                      
              </div>
              <div class="glassBox__Button">
                <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="BUY" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
                
               </div>
            </div>
                
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/65mp2cgb/women5-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Urban Fox Essentials</h3>
              <div class="glassBox__content">Designed for both comfort and streetwear flair.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹650</span>
                      
              </div>
              <div class="glassBox__Button">
                <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="BUY" data-css-style="width:180px; border-radius:4px"   data-layout="vertical"  ></a>

               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/XYJM60vp/women6-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxEmpire Regal Sweater</h3>
              <div class="glassBox__content"> A luxurious blend of regality and coziness.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹599</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/VkZkx8jN/women2-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Midnight Fox Streetwear Hoodie</h3>
              <div class="glassBox__content">Dominate the streetwear scene with our Midnight Fox hoodie.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹599</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/sDQB31gh/women1-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxElegance Off-Waist Top</h3>
              <div class="glassBox__content">Embrace sophistication with the FoxElegance Off-Waist Top.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹350</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/HW5N79nW/women3-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxChic Tailored T-Shirt</h3>
              <div class="glassBox__content">Offering a sleek and sophisticated look for every occasion.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹350</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
           
          </li>
          </ul>
        </div>
      </section>

      <!--    Product kids  -->

      <section class="Products" id="kids">
        <div class="main">
          <section class="product">
            <h2 class="product-category">Kid's Latest</h2>
            <span class="subtit">Discover our delightful 12for Kids is the go-to destination for parents who love to dress their children in the latest fashion trends.</span>
        
          <ul class="cards">
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/rmbvLqjq/kid3-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxFlex Active Hooded Jacket</h3>
              <div class="glassBox__content">Keep your little ones warm and stylish with the FoxCub Cozy Hoodie.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹699</span>
              </div>
              <div class="glassBox__Button">
                <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="BUY" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
                
               </div>
            </div>
                
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/rF65K7Ys/kid6-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxPaws Spiderman Pullover</h3>
              <div class="glassBox__content">A charming addition to your child's wardrobe for everyday fun.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹399</span>
                      
              </div>
              <div class="glassBox__Button">
                <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="BUY" data-css-style="width:180px; border-radius:4px"   data-layout="vertical"  ></a>

               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/43XDZLTF/kid2-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxCub Cozy Hoodie</h3>
              <div class="glassBox__content">Keep your little ones warm and stylish with the FoxCub Cozy Hoodie.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹400</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/KYvJYCpw/kid4-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">FoxTales Batman Tee</h3>
              <div class="glassBox__content">Encouraging kids to explore the wonders of nature in style.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹299</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/BvbZCQwg/kid1-removebg-preview.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">WildWhiskers Adventure Hoodie</h3>
              <div class="glassBox__content">Ignite the spirit of adventure with the WildWhiskers Hoodie.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹599</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
            
                      </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.postimg.cc/Jn7g9Pkc/kid5-removebg-preview-1.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">PikaChic Lightning Hoodie</h3>
              <div class="glassBox__content">Pikachu's charm meets fashion-forward comfort for Pokémon enthusiasts of all ages.</div>
              <div class="glassBox__price">
                      <span class="product-price">₹499</span>
                      
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
           
          </li>
          </ul>
        </div>
      </section>

      <footer>
        <div class="content">
          <div class="left box">
            <div class="upper">
              <div class="topic">About us</div>
              <p>12Fox is more than a clothing store, we're curators of style, offering curated fashion that empowers individuals to express their unique identity with confidence..</p>
            </div>
            <div class="lower">
              <div class="topic">Contact us</div>
              <div class="phone">
                <a href="#"><i class="ri-phone-fill"></i>+91 782592345</a>
              </div>
              <div class="email">
                <a href="#"><i class="ri-mail-fill"></i>groove.12fox@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="middle box">
            <div class="topic">Shopping &amp; Categories</div>
            <div><a href="#">Men’s Shopping</a></div>
            <div><a href="#">Women’s Shopping</a></div>
            <div><a href="#">kid’s Shopping</a></div>
            <div><a href="#">Latest Products</a></div>
            
          </div>
          <div class="right box">
            <div class="topic">Subscribe us</div>
            <form action="https://gmail.us21.list-manage.com/subscribe/post?u=e57daffa0ce944eba5a64a287&amp;id=3270c8cdc0&amp;f_id=0038f9e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
              <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" placeholder="Your Email Address..">
              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
              <input type="hidden" name="_next" value="">
              <div class="media-icons">
                <a href="#"><i class="ri-facebook-box-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
                <a href="#"><i class="ri-twitter-x-fill"></i></a>
                <a href="#"><i class="ri-youtube-fill"></i></a>
              </div>
            </form>
          </div>
        </div>
        <div class="bottom">
          <p>Copyright © 2023 <a href="#">12Fox</a> All rights reserved</p>
        </div>
      </footer>
    
    </body>
    <script src="https://manage.instamojo.com/assets/js/pay_button/button.min.js"></script>
    <script src="/static/js/nav.js"></script>
    <script>
      let mybutton = document.getElementById("scrollBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
</html>
